{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
	<meta name="keywords" content="crypto, mining, animation, example, examples">
	<meta name="author" content="Creativegigs">
	<meta name="description" content="cryto is a beautiful website template designed for bitcoin crypto currency mining and exchange websites.">
	<meta name='og:image' content="{% static 'home/images/home/ogg.png' %}">
	<!-- For IE -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- For Resposive Device -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{% block head_title %}{% endblock %} | Portfolio Management System</title>

  <!-- Main style sheet -->
  <link rel="stylesheet" type="text/css" href="{% static 'home/css/style.css' %}">
  <!-- responsive style sheet -->
  <link rel="stylesheet" type="text/css" href="{% static 'home/css/responsive.css' %}">
  <!-- Color Css -->
  <link rel="stylesheet" type="text/css" href="{% static 'home/css/color-one.css' %}">
  {% block extra_head %}
  {% endblock %}

  <!-- Fix Internet Explorer -->
	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<script src="vendor/html5shiv.js"></script>
		<script src="vendor/respond.js"></script>
	<![endif]-->
</head>
<body>
  <div class="accounts-forms" id="accounts">
    <div class="container">
      <div class="accounts-container">
      {% block body %}

        {% if messages %}
        <div>
          <strong>Messages:</strong>
          <ul>
            {% for message in messages %}
            <li>{{message}}</li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}

        {% block content %}
        {% endblock %}

        <br/><br/>

        <a href="{% url 'account_login' %}">Sign In</a><br/>
        <a href="{% url 'account_signup' %}">Sign Up</a>
      {% endblock %}

      {% block extra_body %}
      {% endblock %}
      </div>
    </div>
  </div>
</body>
</html>
