{% load static %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Authentication forms">
  <meta name="author" content="Arasari Studio">
  <title>Reset Password Done | Portfolio Management System</title>
  <link href="{% static 'account/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'account/css/common.css' %}" rel="stylesheet">    
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&amp;display=swap" rel="stylesheet">
  <link href="{% static 'account/css/theme-03.css' %}" rel="stylesheet">
</head>
<body>
  <div class="forny-container">
    <div class="forny-inner">
      <div class="forny-form">
        <div class="mb-8 text-center forny-logo">
          <!-- <img src="{% static 'account/img/logo-03.svg' %}"> -->
          <h3>Logo Placeholder</h3>
        </div>
        <div class="text-center">
          <h4>Reset Password Done</h4>
        </div>
        {% if user.is_authenticated %}
          <div class="alert alert-error text-center">
            <p class="text-danger">You are already logged in as {{ user }}</p>
          </div>
        {% endif %}
        {% if form.errors %}
          {% for field in form %}
            {% for error in field.errors %}
              <div class="alert alert-error text-center">
                <p class="text-danger">{{ error|escape }}</p>
              </div>
            {% endfor %}
          {% endfor %}
          {% for error in form.non_field_errors %}
            <div class="alert alert-error text-center">
              <p class="text-danger">{{ error|escape }}</p>
            </div>
          {% endfor %}
        {% endif %}
        <p class="text-center">We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.</p>
      </div>
    </div>
  </div>

  <script src="{% static 'account/js/jquery.min.js' %}"></script>
  <script src="{% static 'account/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'account/js/main.js' %}"></script>
  <script src="{% static 'account/js/demo.js' %}"></script>
</body>
</html>