{% load static %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Authentication forms">
  <meta name="author" content="Arasari Studio">
  <title>Reset Password Success | Portfolio Management System</title>
  <link href="{% static 'account/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'account/css/common.css' %}" rel="stylesheet">    
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&amp;display=swap" rel="stylesheet">
  <link href="{% static 'account/css/theme-03.css' %}" rel="stylesheet">
</head>
<body>
  <div class="forny-container">
    <div class="forny-inner">
      <div class="forny-form">
        <div class="mb-8 text-center forny-logo">
          <!-- <img src="{% static 'account/img/logo-03.svg' %}"> -->
          <h3>Logo Placeholder</h3>
        </div>
        <div class="text-center">
          <h4>Change Password Done</h4>
        </div>
        <p class="text-center">Your password is now changed</p>
        <div class="text-center">
          {% if user.is_authenticated %}
          <div class="d-inline-block mr-1">
            <a href="{% url 'home' %}"><button class="primaryAction btn btn-primary btn-block">Dashboard</button></a>
          </div>
          {% else %}
          <div class="d-inline-block mr-1">
            <a href="{% url 'account_login' %}"><button class="primaryAction btn btn-primary btn-block">Login</button></a>
          </div>
          <div class="d-inline-block mr-1">
            <a href="{% url 'account_signup' %}"><button class="primaryAction btn btn-primary btn-block">Sign Up</button></a>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  <script src="{% static 'account/js/jquery.min.js' %}"></script>
  <script src="{% static 'account/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'account/js/main.js' %}"></script>
  <script src="{% static 'account/js/demo.js' %}"></script>
</body>
</html>